<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Calendar</title>
        <link href='//fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css' />
        <link rel='stylesheet' href='lib/fullcalendar/fullcalendar.min.css' />
        <script src='lib/jquery-3.1.1.min.js'></script>
        <script src='lib/moment.min.js'></script>
        <script src='lib/fullcalendar/fullcalendar.min.js'></script>
        
        <style>
            body {
                margin: 0;
                padding: 10px;
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                color: #aaa;
            }
        </style>
        <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                // put your options and callbacks here
                events: 'http://0.0.0.0:8080/feed?callback=?',
                firstDay: 1,
                timeFormat: 'H:mm',
                defaultView: 'listMonth',
                //height: 600,
                eventClick: function(data, event, view) {
                    alert (data.description+' '+data.location);
                },
            });
        });
        </script>
    </head>
    <body>
        
    <div style="height: 100%">
    <div id="calendar"></div>
    </div>
    </body>
</html>
